body {
background-color: black;
color: white;
}

table {
border-collapse: collapse;
text-align: center;
width: 100%;
white-space: nowrap;
}
th, td {border: 1px solid white;}

a:link, a:visited  {
    color: white;
}
a:hover {color: red;}
