body {
background-color: black;
color: white;
}

h1, h2 {text-align: center;}

table {
border-collapse: collapse;
text-align: center;
width: 100%;
white-space: nowrap;
}
th, td {border: 1px solid white;}

#tabla a, a:visited {
    color: white;
    text-decoration: none;
}
#tabla a:hover {color: red;}
a, a:visited {color: white;}
