body {
background-color: black;
color: white;
}

h1, h2 {text-align: center;}

li {margin: 5px;}

table {
border-collapse: collapse;
text-align: center;
width: 100%;
white-space: nowrap;
}
th, td {border: 1px solid white;}

a, a:visited {color: white;}

.tooltip {
position: relative;
display: inline-block;
border-bottom: 1px dotted;
}

.tooltip .tooltiptext {
visibility: hidden;
width: 115px;
background-color: dimgray;
text-align: center;
border-radius: 5px;
position: absolute;
z-index: 1;
bottom: 125%;
left: 50%;
margin-left: -60px;
opacity: 0;
}

.tooltip:hover .tooltiptext {
visibility: visible;
opacity: 1;
}