body {
    background-color: black;
    color: aliceblue;
}

h1,
h2 {
    text-align: center;
}

li,
label,
input {
    margin-top: 5px;
    margin-bottom: 5px;
}

select {
    margin-bottom: 5px;
}

button {
    margin-top: 5px;
}

table,
#hc {
    border-collapse: collapse;
    text-align: center;
    width: auto;
    white-space: nowrap;
    margin-left: auto;
    margin-right: auto;
}

#hc {
    margin: 0;
}

#alt-colors tr:nth-child(even),
#hc tr:nth-child(even) {
    background-color: green;
    border: 1px solid white;
}

th,
td {
    border: 1px solid white;
}

a,
a:visited {
    text-decoration: none;
    color: lightsalmon;
}

#red a:hover,
a:hover {
    color: red;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted;
}

.tooltip .tooltiptext {
    visibility: hidden;
    background-color: dimgray;
    text-align: center;
    position: absolute;
    z-index: 1;
    left: 110%;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}