body {
background-color: black;
color: white;
}

h1, h2 {text-align: center;}

li {margin: 5px;}

table {
border-collapse: collapse;
text-align: center;
width: auto;
white-space: nowrap;
}
th, td {border: 1px solid white;}

#red a, a:visited {
    color: white;
    text-decoration: none;
}
#red a:hover {color: red;}

a, a:visited {color: white;}

.tooltip {
position: relative;
display: inline-block;
border-bottom: 1px dotted;
}

.tooltip .tooltiptext {
visibility: hidden;
background-color: dimgray;
text-align: center;
position: absolute;
z-index: 1;
left: 110%;
}

.tooltip:hover .tooltiptext {
visibility: visible;
}