body {
background-color: black;
color: white;
}

table {
border-collapse: collapse;
text-align: center;
width: 100%;
white-space: nowrap;
}

th, td {border: 1px solid white;}

tr:nth-child(even) {
border: 1px solid white;
background-color: green;
}

a:link {color: white;}
a:visited {color: white;}

.dropdown {
position: relative;
display: inline-block;
}

.dropdown-content {
position: absolute;
display: none;
z-index: 1;
}

.dropdown-content p {
display: block;
background-color: black;
color: white;
margin: 0;
border: 1px solid white;
white-space: nowrap;
}

.dropdown:hover .dropdown-content {
display: block;
}

.dropdown-submenu {position: relative;}

.dropdown-submenu .dropdown-menu {
top: 0;
left: 100%;
margin-top: -1px;
}
