body {
    background-color: black;
    color: white;
    white-space: nowrap;
}

h1 {
    text-align: center;
}

#shogi {
    counter-reset: rowNumber;
}

#otros {
    counter-reset: rowNumber -2;
}

#shogi tr:not(:first-child),
#otros tr {
    counter-increment: rowNumber;
}


#shogi tr td:first-child::before,
#otros tr td:first-child::before {
    content: counter(rowNumber);
}

table {
    border-collapse: collapse;
    text-align: center;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

th {
    cursor: pointer;
    border: 1px solid white;
}

th,
td {
    border: 1px solid white;
}

tr:nth-child(even) {
    background-color: green;
}

a,
a:visited {
    color: paleturquoise;
    text-decoration: none;
}

a:hover {
    color: red;
}

#shogi a:hover,
#otros a:hover {
    color: red;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    position: absolute;
    display: none;
    z-index: 1;
}

.dropdown-content p {
    display: block;
    background-color: black;
    color: white;
    margin: auto;
    border: 1px solid white;
}

.dropdown:hover .dropdown-content {
    display: block;
}