body {
background-color: black;
color: white;
}

table {
border-collapse: collapse;
text-align: center;
}

th, td {border: 1px solid white;}

tr:nth-child(even) {
border: 1px solid white;
background-color: green;
}

a:link {color: white;}
a:visited {color: white;}
