body {
background-color: black;
color: white;
}

table {
border-collapse: collapse;
width: 100%;
}

th, td {
border: 1px solid white;
text-align: center;
}

tr:nth-child(even) {
border: 1px solid white;
text-align: center;
background-color: green;
}

a:link {color: white;}
a:visited {color: white;}
