body {
    background-color: black;
    color: white;
}

h1 {
    text-align: center;
}

a:link,
a:visited {
    color: paleturquoise;
}

a:hover {
    color: red;
}

li {
    margin-bottom: 5px;
}

table {
    border-collapse: collapse;
    width: auto;
}

th, td {
    border: 1px solid white;
    text-align: center;
}

tr:nth-child(even) {
    background-color: green;
    border: 1px solid white;
}
