body {
    background-color: black;
    color: white;
}
h1 {text-align: center;}
a:link, a:visited {color: white}

li {
    margin-bottom: 5px;
}

label, input {
    margin-top: 5px;
    margin-bottom: 5px;
}

select {
    margin-bottom: 5px;
}

table {
    border-collapse: collapse;
    width: auto;
}
th {text-align: center;}
th, td {border: 1px solid white;}

tr:nth-child(even) {
    background-color: green;
    border: 1px solid white;
}

button {
    margin-top: 5px;
}