body {
background-color: black;
color: white;
}

h1 {text-align: center;}

li {margin: 5px;}

a, a:visited {color: white;}

#tabla a, a:visited {
    color: white;
    text-decoration: none;
}

#tabla a:hover {color: red;}

#tabla tr {
text-indent: 2px;
white-space: nowrap;
}

table {
border-collapse: collapse;
width: auto
}
th {text-align: center;}
th, td {border: 1px solid white;}

tr:nth-child(even) {
background-color: green;
border: 1px solid white;
}