body {
background-color: black;
color: white;
}

h1 {text-align: center;}

li {margin: 5px;}

a {
    color: white;
    text-decoration: none;
}
a:visited {color: white;}
a:hover {color: red;}

table {
border-collapse: collapse;
width: 100%;
}
th {text-align: center;}
th, td {border: 1px solid white;}

tr:nth-child(even) {
background-color: green;
border: 1px solid white;
}