body {
background-color: black;
color: white;
}

h1 {text-align: center;}

li {margin: 5px;}

#tabla a, a:visited {
    color: white;
    text-decoration: none;
}
#tabla a:hover {color: red;}
#tabla {white-space: nowrap;}
#tabla tr {text-indent: 2px;}
a, a:visited {color: white;}

table {
border-collapse: collapse;
width: 100%;
}
th {text-align: center;}
th, td {border: 1px solid white;}

tr:nth-child(even) {
background-color: green;
border: 1px solid white;
}