body {
    background-color: black;
    color: white;
}

#meijin {
    counter-reset: rowNumber -2;
}

#ryuo {
    counter-reset: rowNumber -3;
}

#meijin tr,
#ryuo tr {
    counter-increment: rowNumber;
}

#meijin tr td:first-child::before,
#ryuo tr td:first-child::before,
#div1 tr td:first-child::before {
    content: counter(rowNumber);
}

h1 {
    text-align: center;
}

#ajolote a,
a:visited {
    color: white;
    text-decoration: none;
}

a,
a:visited {
    color: paleturquoise;
    text-decoration: none;
}

a:hover {
    color: red;
}

#ajolote a:hover {
    color: red;
}

table {
    border-collapse: collapse;
    text-align: center;
    width: auto;
    white-space: nowrap;
    margin-left: 1;
}

#teaching {
    margin-left: 0;
}

th,
td {
    border: 1px solid white;
}

tr:nth-child(even) {
    background-color: green;
    border: 1px solid white;
}

li {
    margin-top: 5px;
}
