body {
    background-color: black;
    color: white;
}

h1 {
    text-align: center;
}

a:link,
a:visited {
    color: white
}

a:hover {
    color: red;
}

table {
    border-collapse: collapse;
    text-align: center;
    width: auto;
    white-space: nowrap;
    margin-left: auto;
    margin-right: auto;
}

th {
    text-align: center;
}

th,
td {
    border: 1px solid white;
}

tr:nth-child(even) {
    background-color: green;
    border: 1px solid white;
}

#divA{
    counter-reset: rowNumber;
}

#divAtr:not(:first-child) {
    counter-increment: rowNumber;
}

#divAtr td:first-child::before {
    content: counter(rowNumber);
}

#divA a,
a:visited {
    text-decoration: none;
}

#divA a:hover {
    color: red;
}