body {
    background-color: black;
    color: aliceblue;
}

#meijin {
    counter-reset: rowNumber -2;
}

#ryuo {
    counter-reset: rowNumber -3;
}

#meijin tr,
#ryuo tr {
    counter-increment: rowNumber;
}

#meijin tr td:first-child::before,
#ryuo tr td:first-child::before,
#div1 tr td:first-child::before {
    content: counter(rowNumber);
}

h1 {
    text-align: center;
}

a,
a:visited {
    color: lightsalmon;
    text-decoration: none;
}

a:hover {
    color: red;
}

table {
    border-collapse: collapse;
    text-align: center;
    width: auto;
    white-space: nowrap;
    margin-left: 1;
    color: white;
}

table a,
table a:visited {
    color: aquamarine;
}

#teaching {
    margin-left: 0;
}

th,
td {
    border: 1px solid white;
}

tr:nth-child(even) {
    background-color: green;
    border: 1px solid white;
}

li {
    margin-top: 5px;
}

* {
    box-sizing: border-box
}

/* Slideshow container */
.slideshow-container {
    max-width: 60%;
    height: auto;
    position: relative;
    margin-left: 0;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 15px;
    color: aliceblue;
    font-weight: bold;
    font-size: 18px;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* Caption text */
.text {
    color: aliceblue;
    font-size: 18px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

textarea {
    font-size: 14px;
    width: 200px;
    margin: 5px;
    background-color: black;
    color: aliceblue;
}

#outputPair {
    font-size: 16px;
}

iframe {
    border: none;
}

#frameMeijin {
    width: 410px;
}

.container {
  display: flex;
  gap: 20px;
}

#indexBox {
  width: 200px;
  border: 2px solid aliceblue;
  margin-left: 1px;
  padding: 2px;
}
